
 /* configuraci贸n de ayuda visual*/ 
/*
* {
    border: 1px solid black;
    box-sizing: border-box;
  }
*/
  
  /* configuraci贸n del header-menu*/

  #page-wrapper {
    position: relative;
  }
  
  header {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    padding-top: 1px;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;     
  }

  #header-logo {
    color: #f9faf8;
    font-size: 24px;    
  } 
  
  nav > ul {
   width: 600px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
  }
  
  li {
      list-style: none;
  }

  a {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
  }

  /* configuraci贸n del area de hero*/

  body {
    font-family: Roboto, 'Open Sans', sans-serif;
  }
  
  .container-hero {
  /*  border: 2px solid green;    */
    position: fixed;
    top:0;
    left: 0;    
    width: 100%;
  }

  #hero {
  /*  border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 67px;
    padding: 100px 200px;
    background-color: #1f2937;
    
  }

  .hero-text {  
    position: relative;  
  /*  border: 1px solid orange; */
    width: 550px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }
  
   h1 {
  /*  border: 1px solid pink; */
    font-size: 48px;
    color: #f9faf8;
    padding: 0px;
    margin: 0px;
  }

  p {    
  /*  border: 1px solid yellow; */
    font-size: 22px;
    color: #e5e7eb;
    font-style: normal;
    font-family:sans-serif;
    padding: 5px 0px;
    margin: 0px;
  }

  button {
    border-radius: 10px;
    background-color: #3882f6;
    font-size: 20px;
    color: #e5e7eb;
    padding: 5px 50px;
    margin: 0px;
    font-weight: bold;
    width: 190px;
    height: 45px;
  }

.hero-img {
/*  border: 1px solid red; */
  width: 600px;
  height: 270px;
}

/* configuraci贸n del area de random information */

.container-random-info {
/*    border: 5px solid green; */
    position: fixed;
    top: 540px;
    left: 0;    
    width: 100%;
    height: 800px;  
    display: flex;
    justify-content: center;
    margin-bottom: 400px;
  }

  #random {
/*    border: 5px solid yellow; */
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;        
    align-items: center;
    padding-top: 100px;
  }

  .random-title {
/*    border: 5px solid blueviolet;  */
    width: 70%;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: white;    
    margin: 0px;
    align-self: center;
  }

  .random-title-header {    
    font-weight: bold;
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .container-random-imgs-text {
    align-self: center;
/*    border: 5px solid blue; */
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;    
  }
  .random-img {
    width: 250px;
    height: 250px;
    border-radius: 20px;
    border: 7px solid #3882f6;
    margin-top: 100px;
  }

  .random-text {
    display: flex;
    justify-content: center;
    width: 250px;    
    align-items: center;
    color: #000;
    text-align: center;
    margin-top: 10px;
  }

  /* configuracion del area quote */

  .container-quote {
/*    border: 10px solid purple; */
    position: fixed;
    top: 1340px;
    left: 0px;
    width: 100%;
    height: 700px;
    display: flex;    
    justify-content: center;
    background-color: #e5e7eb;
  }

  #quote {
/*    border: 10px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    width: 65%;  
  }

  .container-quote-text {
/*  border: 10px solid gold;   */
    width: 65%; 
  }

  .quote-text {
    display: flex;
    justify-content: flex-end;
    
  }
  
  .italic {
    font-size: 36px;
    font-style: italic;
    color: #000;
  }

  .bold {
    font-size: 32px;
    font-weight: bold;
    justify-self: right;
    color: #000;
    padding-right: 30px;
  }
