  
 /* configuración de ayuda visual*/ 
/*
* {
    border: 1px solid black;
    box-sizing: border-box;
  }
/*
  
  /* configuración del header-menu*/

  body {
/*    border: 2px solid aquamarine;*/
    width: 100%;
    padding: 0px;
    margin:0px;
    font-family: Roboto, 'Open Sans', sans-serif;    
  }

  #page-wrapper {
    position: relative;
/*    border: 5px solid brown; */
    padding: 0px;
    margin: 0px;
    width: 100%;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  header {   
/*    border: 2px solid white;   */
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 75px;
    display: flex;
    padding-top: 1px;    
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;     
  }

  #header-logo {    
    color: #f9faf8;
    font-size: 28px;    
  } 
  
  nav {
/*    border: 2px solid #e5e7eb; */
    width: 35%;
  }

  nav > ul {  
   display: flex;
   flex-direction: row;
   justify-content: space-between;      
  }
    
  li {
      list-style: none;      
  }

  a {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
  }



  /* configuración del area de hero*/

  #hero {
/*    border: 5px solid blue; */
    width: 100%;
    display: flex;    
    justify-content: center;    
    background-color: #1f2937; 
    
  }

  .container-hero {
/*    border: 5px solid magenta; */
    width: 100%;
    margin: 10% 12%;
    display: flex;
    justify-content: space-between;
  }

  .hero-text {     
/*    border: 5px solid orange;  */
    position: relative;  
    width: 48%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }
  
  .hero-h1 {
/*   border: 1px solid pink;  */
    font-size: 48px;
    color: #f9faf8;
    padding: 0px;
    margin: 0px;
  }

  .hero-p {    
/*    border: 1px solid yellow; */
    font-size: 22px;
    color: #e5e7eb;
    font-style: normal;
    font-family:sans-serif;
    padding: 5px 0px;
    margin: 0px;
  }

  #button-hero {
    border-radius: 10px;
    background-color: #3882f6;
    font-size: 18px;
    color: #e5e7eb;
    padding: 5px 50px;
    margin: 0px;
    font-weight: bold;
    width: 170px;
    height: 45px;
  }

.hero-img {  
/*  border: 5px solid red;  */
  width: 48%;
  height: auto;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-img-text {
  border: 0px;
  font-size: 18px;
  color:#e5e7eb;
  font-style: normal;

}




/* configuración del area de random information */

.container-random-info {
/*    border: 2px solid green; */
    position:relative;    
    left: 0;    
    width: 100%;    
    display: flex;
    justify-content: center;    
  }

  #random {
/*    border: 5px solid yellow; */
    width: 77%;
    display: flex;
    flex-direction: column;  
    padding-top: 60px;
    padding-bottom: 90px;
  }

  .random-title {
/*    border: 3px solid blueviolet;   */
    width: 80%;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: white;    
    align-self: center;
  }

  .random-title-header {    
    font-weight: bold;
    font-size: 37px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .container-random-imgs-text {
/*    border: 3px solid blue;  */
    align-self: center;
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;    
  }
  .random-img {
    width: 180px;
    height: 180px;
    border-radius: 20px;
    border: 4px solid #3882f6;
    margin-top: 60px;
  }

  .random-text {
/*    border: 1px solid #3882f6; */
    display: flex;
    justify-content: center;
    width: 180px;    
    align-items: center;
    color: gray;
    text-align: center;
    margin-top: 10px;
    font-style: normal;
  }





  /* configuracion del area quote */

  .container-quote {
/*    border: 10px solid purple;  */
    position:relative;     
    left: 0px;
    width: 100%;
    height: 70%;
    display: flex;    
    justify-content: center;
    background-color: #e5e7eb;
  }

  #quote {
/*    border: 10px solid red; */
    display: flex;
    flex-direction: column;     
    width: 60%;  
    padding-top: 80px;
    padding-bottom: 80px;
  }
 
  .quote-italic {
    font-size: 36px;    
    color: #000;    
    font-family: Ubuntu, Cantarell;
    font-style: italic;
    padding-left: 10px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  .quote-bold {
    font-size: 24px;
    font-weight: bold;    
    color: #000;
    align-self: flex-end;
    padding-right: 50px;
    margin-top: 0px;    
  }



/* configuración del area action */ 

  .container-action {
/*    border: 5px solid red; */
    position:relative;     
    left: 0px;
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }

  #action {
/*    border: 5px solid black; */
    background-color: #3882f6;
    border-radius: 10px;
    width: 75%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container-action-text {
/*    border: 5px solid magenta; */
    width: 78%;
    height: 140px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
  }

  .action-text {
/*    border: 5px solid blue;  */
    width: 80%;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;       
  }

  .action-header {
/*    border: 5px solid purple;  */
    font-size: 30px;
    color: white;
    font-weight: bold;
    padding-bottom: 0px;
    margin-bottom: 0px;   
  }

  .text-action {     
/*    border: 5px solid cyan;   */
    width: auto;
    font-size: 18px;
    color: white;
    font-style: normal;
    margin-top: 0px;
    margin-bottom: 50px;
  }

  .action-button {
/*    border: 5px solid pink;  */
    width: 160px;  
  }

  #button-action {    
    align-self: center;
  /*  border: 3px solid white; */   /*si dejo esta linea se pierde el click */
    border-radius: 10px;
    background-color: #3882f6;
    font-size: 18px;
    color: #e5e7eb;
    padding: 5px 30px;
    margin: 0px;
    font-weight: bold;
    width: 160px;
    height: 45px;
  }




  /* configuracion de footer */

  footer {
    background-color: #1f2937;
    position:relative;  
    width: 100%;
    height: 80px;    
    left: 0px;    
    display: flex;
    justify-content: center;
    align-items: center; 
  }

  .copyright {  
    font-size: 18px;
    color: white;
    font-style: normal;
  }